<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.892681361227-slq75m5enai2gsva2c0i00ta4mrvtglr</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>892681361227-slq75m5enai2gsva2c0i00ta4mrvtglr.apps.googleusercontent.com</string>
	<key>URL Types</key>
	<array>
		<dict>
			<key>URL Schemes</key>
			<array>
				<string>com.googleusercontent.apps.892681361227-slq75m5enai2gsva2c0i00ta4mrvtglr</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
